<a href="https://colab.research.google.com/github/lis-r-barreto/learn-python-kaggle/blob/main/Exercise_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises

## 1.

Complete the function below according to its docstring.

In [12]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(L) > 1:
        return L[1]
    else:
        return None
    pass

In [13]:
L = [1, 2, 3, 4]
select_second(L)

2

## 2.

You are analyzing sports teams.  Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. 
These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last.  Complete the function below to select the **captain** of the worst team.

In [14]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]
    pass

In [17]:
teams = [['Obi-Wan', 'Leia', 'Luke', 'Anakim'], ['Kirk', 'Spock', 'Leonard', 'Uhura']]
losing_team_captain(teams)

'Spock'

## 3.

The next iteration of Mario Kart will feature an extra-infuriating new item, the *Purple Shell*. When used, it warps the last place racer into first place and the first place racer into last place. Complete the function below to implement the Purple Shell's effect.

In [18]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    racers[0], racers[-1] = racers[-1],racers[0]
    pass

In [19]:
r = ["Mario", "Bowser", "Luigi"]
purple_shell(r)
r

['Luigi', 'Bowser', 'Mario']

## 4.

What are the lengths of the following lists? Fill in the variable `lengths` with your predictions. (Try to make a prediction for each list *without* just calling `len()` on it.)

In [20]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

# Put your predictions in the list below. Lengths should contain 4 numbers, the
# first being the length of a, the second being the length of b and so on.
# Function which return length of string 
lengths = [3, 2, 0, 2]

# a: There are three items in this list. Nothing tricky yet.
# b: The list [2, 3] counts as a single item. It has one item before it. So we have 2 items in the list
# c: The empty list has 0 items
# d: The expression is the same as the list [2, 3], which has length 2.

[3, 2, 0, 2]

## 5. <span title="A bit spicy" style="color: darkgreen ">üå∂Ô∏è</span>

We're using lists to record people who attended our party and what order they arrived in. For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive:

    party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

A guest is considered 'fashionably late' if they arrived after at least half of the party's guests. However, they must not be the very last guest (that's taking it too far). In the above example, Mona and Gilbert are the only guests who were fashionably late.

Complete the function below which takes a list of party attendees as well as a person, and tells us whether that person is fashionably late.

In [21]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    order = arrivals.index(name)
    return order >= len(arrivals) / 2 and order != len(arrivals) - 1
    pass

In [22]:
arrivals = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
fashionably_late(arrivals, 'Adela')

False

In [23]:
fashionably_late(arrivals, 'May')

False

In [24]:
fashionably_late(arrivals, 'Mona')

True